@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
    margin:10;
    width:100%;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    background:#fff;
}
a {
    color:#889;
}

header {
    
  
   
    background: #3771c8;
    background: -moz-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3771c8), color-stop(100%, #2c5aa0));
    background: -webkit-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -o-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -ms-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    padding: 0px 15px ;
    border-top: 1px solid #889;
    text-align: left;
    color:#fff;


}

    .boton{
     
            background-color: #8db7fc; /* Green */
            border: none;
            color: #ffffff;
            padding: 15px 32px;
            text-align: right;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            
       
    }
    .boton{
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
    }
         
    .boton:hover {
            background-color: #082c68; /* Green */
            color: white;
          
    }
    .boton {font-size: 24px;}
    .boton {padding: 15px 20px;}
  
    .no {
        background: red;
      }
#contenedor {
    width:980px;
    margin:10px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    background: #ffffff; 
    position: relative;
    
}
#inscribir {
    background: #fff;  
    padding-top: 15px;
    width: 200px;
    float: right;
}

#inscribir1 {
    background: #fff;  
    top: 475px;
    width: 200px;
    float: right;
    position:absolute;
    right:0px;
}
#consultar {
    background: #fff;  
    padding-top: 15px;
    width: 480px;
    float: left;
}

.widget12 {
    background-color: #fff;   
    margin: 15 0 0px;
    border: 1px rgb(83, 82, 82) solid;
    width: 750px;
    
}
.widget11 {
    background-color: #fff;   
    margin: 0 15 15px;
    border: 1px #2c5aa0 solid;
    width: 300px;
}

.widget11titulo {
    background: #C4C4C4;
    background: -moz-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C4C4C4), color-stop(100%, #A4A4A4));
    background: -webkit-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -o-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -ms-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    text-align: center;
    color:#222;
    margin: 20 20 20px;
    padding: 6px 0;
}

.widgettitulo {
    background: #C4C4C4;
    background: -moz-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C4C4C4), color-stop(100%, #A4A4A4));
    background: -webkit-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -o-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -ms-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    text-align: center;
    color:#222;
    margin: 20 20 20px;
    padding: 6px 0;
}
.widget12titulo {
    background: #C4C4C4;
    background: -moz-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C4C4C4), color-stop(100%, #A4A4A4));
    background: -webkit-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -o-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: -ms-linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    background: linear-gradient(top, #C4C4C4 0%, #A4A4A4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    text-align: center;
    color:#222;
    margin: 20 20 20px;
    padding: 6px 0;
}
footer {
    background: #3771c8;
    background: -moz-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3771c8), color-stop(100%, #2c5aa0));
    background: -webkit-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -o-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: -ms-linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    background: linear-gradient(top, #3771c8 0%, #2c5aa0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
    text-align:center;
    color:#fff;
    padding:1px;
    clear: both;
}
footer a {
    color:#f5f5f5;
}
#respuesta {
    text-align:center;
}
/* version computador/portatil */
@media screen and (max-width: 1336px) {

    #contenedor {
        width: 96%;
    }
    #inscribir {
        width: 48%;
    }
    #consultar {
        width: 48%;
    }
    #consultar .widget, #inscribir .widget  {
        padding: 8% 7%;
    }    
    
    #contenedor1 {
        width: 96%;
    }
    #inscribir1 {
        width: 48%;
    }
    #consultar1 {
        width: 48%;
    }
    #consultar1 .widget, #inscribir1 .widget  {
        padding: 8% 7%;
    }    


}
/* version tablet/smartphone */  
@media screen and (max-width: 800px) {

    #inscribir {
        width: auto;
        float: none;
        margin: 20px 0;
    }
    #consultar {
        width: 100%;
        margin: 0;
        float: none;
    }
    #consultar .widget {
        padding: 3% 4%;
        margin: 0 0 10px;
    }
    .widget {border: none;text-align: left;}
}
/*alertas*/
span { background: #222; color:#fff;font-weight:bold;padding:4px}
.datagrid2 table { border-collapse: collapse; text-align: left; width: 100%; height: 10; } 
.datagrid2 
{font: normal 12px/200% Arial, Helvetica, sans-serif; 
    background: #fff;
     overflow: scroll; 
     border: 1px solid #006699;
      -webkit-border-radius: 3px; 
      -moz-border-radius: 3px; border-radius: 3px; }
      .datagrid2 table td,     
       .datagrid2 table th 
       { padding: 3px 10px; }
       .datagrid2 table thead th 
       {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699),
         color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
         background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold;
          border-left: 1px solid #0070A8; } 
          tr:nth-child(2n){background-color: #ddd}
          .datagrid2 table thead th:first-child { border: none; }
          .datagrid2 table thead th:first-child { border-left: none;text-align: left;width:50px; }
          .datagrid2 table thead th:nth-child(2) { border-left: none;text-align: left;width:80px; }
          .datagrid2 table thead th:nth-child(3) { border-left: none;text-align: left;width:370px; }
          .datagrid2 table thead th:nth-child(4) { border-left: none;text-align: left;width:50px; }
          .datagrid2 table thead th:nth-child(5) { border-left: none;text-align: left;width:75px; }
          
         
tr:hover {background-color: #E1EEF4}
          .datagrid2 table tbody td 
          
          { color: #00557F;border-top: 1px solid rgb(172, 220, 243);font-size: 15px;font-weight: normal;text-align: left; }
          .datagrid2 table tbody .alt td { background: #E1EEf4; color: #00557F;text-align: left; }
          .datagrid2 table tbody td:first-child { border-left: none;text-align: left;width:50px; }
          .datagrid2 table tbody td:nth-child(2) { border-left: none;text-align: left;width:80px; }
          .datagrid2 table tbody td:nth-child(3) { border-left: none;text-align: left;width:370px; }
          .datagrid2 table tbody td:nth-child(4) { border-left: none;text-align: left;width:50px; }
          .datagrid2 table tbody td:nth-child(5) { border-left: none;text-align: left;width:75px; }
          .datagrid2 table tbody tr:last-child td { border-bottom: none;text-align: left;}
          .datagrid2 table tfoot td div { border-top: 1px solid #006699;background: #E1EEf4;text-align: left;}
           .datagrid2 table tfoot td { padding: 15; font-size: 12px } 
           .datagrid2 table tfoot td div{ padding: 15;text-align: left; }
           .datagrid2 table tfoot td ul { margin: 0; padding:15; list-style: none; text-align: right;text-align: left; }
           .datagrid2 table tfoot  li { display: inline; }
           .datagrid2 table tfoot li a { text-decoration: none; display: inline-block; 
             padding: 15 8px; margin: 0;color: #FFFFFF;border: 1px solid #006699;
             -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; 
             background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699),
              color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
              filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
              background-color:#006699; }
              .datagrid2 table tfoot ul.active,
               .datagrid2 table tfoot ul a:hover 
               { text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; 
                background-color:#006699;}


button { border-radius:5px; position: relative; margin-top:20px;margin-left:10px; margin-bottom:10px;cursor:pointer;margin:10 ;width:85px;height:30px;display: float ;background: #3771c8;border:1px solid #3771c8;color:#fff; font-weight: bold; font-size: 1em;}
button:hover { background-color: #082c68; color: white;}
input:focus { width:80%;  border-style: solid; border-width: 1px; border-color: #dedede; margin-bottom: 20px; font-size: 1.2em; color: #777; height:30px; padding-left:15%; font-family: "Raleway", sans-serif; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s; color: #333; border-color: rgba(41, 92, 161, 0.4); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 3px rgba(41, 92, 161, 0.6); outline: 0 none; }
input[type=text] { margin:0 auto;width:80%; display: block; border-style: solid; border-width: 1px; border-color: #dedede; margin-bottom: 20px; font-size: 1.2em; color: #777; height:20px; padding-left:15%; font-family: "Raleway", sans-serif; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;}
label {color: #082c68 ; font-weight:bold}
input[type=date] { margin:0 auto;width:80%; display: block; border-style: solid; border-width: 1px; border-color: #dedede; margin-bottom: 20px; font-size: 1.2em; color: #777; height:20px; padding-left:15%; font-family: "Raleway", sans-serif; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;}
input[type=radio ]   {content: "";position: relative; width: 16px;height: 16px;top:0;left: 0;border: 2px solid #555555;border-radius: 3px;background-color: white;margin:10px 20px 10px 20px}
textarea { margin:0 auto;width:80%; display: block; border-style: solid; border-width: 1px; border-color: #dedede; margin-bottom: 20px; font-size: 1.2em; color: #777; height:150px; padding-left:15%; font-family: "Raleway", sans-serif; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset; transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color 0.15s linear 0s;}
select{margin:0px 10px 20px 7px;width:95.5%; position:center;font-size: 1em;}
